/*
theme.css */

.bc-brand {
  background-color: #294581;
}

.bc-brand-light {
  background-color: #3b518f;
}

.bc-brand-dark {
  background-color: #162e62;
}

.bc-contrast {
  background-color: #ed1b2f;
}

.bc-contrast-light {
  background-color: #fb4b54;
}

.bc-contrast-dark {
  background-color: #bf0018;
}

.bc-alt {
  background-color: #0569bc;
}

.bc-alt-light {
  background-color: #357ad2;
}

.bc-alt-dark {
  background-color: #00438d;
}

.c-brand {
  color: #294581;
}

.c-brand-light {
  color: #3b518f;
}

.c-brand-dark {
  color: #162e62;
}

.c-contrast {
  color: #ed1b2f;
}

.c-contrast-light {
  color: #fb4b54;
}

.c-contrast-dark {
  color: #bf0018;
}

.c-alt {
  color: #0569bc;
}

.c-alt-light {
  color: #357ad2;
}

.c-alt-dark {
  color: #840020;
}

.bc-white {
  background-color: white;
}

.bc-WhiteSmoke {
  background-color: WhiteSmoke;
}

.bc-Bold {
  background-color: black;
}

.bc-grey {
  background-color: grey;
}

.bc-lightgrey {
  background-color: #e6e6e6;
}

.bc-light {
  background-color: #f4f4f4;
}

.bc-mute {
  background-color: #ccc;
}

.bc-green {
  background-color: #5ec770;
}

.bc-red {
  background-color: #ff594c;
}

.bc-blue {
  background-color: #1890c2;
}

.c-blue {
  color: #1890c2;
}

.c-red {
  color: #ff594c;
}

.c-green {
  color: #5ec770;
}

.c-white {
  color: white;
}

.c-WhiteSmoke {
  color: WhiteSmoke;
}

.c-Bold {
  color: black;
}

.c-grey {
  color: grey;
}

.c-lightgrey {
  color: #e6e6e6;
}

.c-light {
  color: #ccc;
}

.c-mute {
  color: #aaa;
}

.bc-facebook {
  background-color: #3b5998;
}

.c-facebook {
  color: #3b5998;
}

.bc-twitter {
  background-color: #55acee;
}

.c-twitter {
  color: #55acee;
}

.bc-googleplus {
  background-color: #dd4c3b;
}

.c-googleplus {
  color: #dd4c3b;
}

.bc-instagram {
  background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  background: -webkit-radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(315deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
  background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
}

.c-instagram {
  color: #306089;
}


/*
::selection {
  color: white;
  background: #294581;
}

::-moz-selection {
  color: white;
  background: #294581;
}
*/


/* Trasitions */

a,
img,
input,
select,
textarea,
.btn,
.fancy-select .trigger {
  -webkit-transition: all .24s cubic-bezier(.0, .0, .58, 1.0);
  transition: all .24s cubic-bezier(.0, .0, .58, 1.0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


/* Inputs */

input,
select,
textarea,
.fancy-select .trigger {
  /*box-shadow: inset 0 0 0 1px #bababa;*/
  box-shadow: inset 0 0 0 1px #e2e2e2;
  background-color: #f7f8f8;
}

[type='button'],
[type='submit'] {
  box-shadow: none;
}

.btn,
button,
input,
select,
textarea,
.list.-menu>li a {
  line-height: 2rem;
  border-radius: 0;
}

.btn.-small,
.input.-small,
select.-small,
textarea.-small,
.list.-menu.-small>li a {
  line-height: 1.5rem;
  border-radius: 0;
}

.btn.-medium,
input.-medium,
select.-medium,
textarea.-medium,
.list.-menu.-medium>li a {
  line-height: 3rem;
  border-radius: 0;
}

.btn.-large,
input.-large,
select.-large,
textarea.-large,
.list.-menu.-large>li a {
  line-height: 4rem;
  border-radius: 0;
}

@media only screen and (min-width: 1024px) {
  .btn.-small {
    font-size: .8rem;
  }
  .btn.-medium {
    font-size: 1.1rem;
  }
  .btn.-large {
    font-size: 1.3rem;
  }
}

select:hover,
textarea:hover,
[type='text']:hover,
[type='password']:hover,
[type='datetime']:hover,
[type='datetime-local']:hover,
[type='date']:hover,
[type='month']:hover,
[type='time']:hover,
[type='week']:hover,
[type='number']:hover,
[type='email']:hover,
[type='url']:hover,
[type='search']:hover,
[type='tel']:hover,
.fancy-select .trigger:hover {
  box-shadow: inset 0 0 0 1px #0569bc;
}

select:focus,
textarea:focus,
[type='text']:focus,
[type='password']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='date']:focus,
[type='month']:focus,
[type='time']:focus,
[type='week']:focus,
[type='number']:focus,
[type='email']:focus,
[type='url']:focus,
[type='search']:focus,
[type='tel']:focus,
.fancy-select .trigger:focus,
.fancy-select .trigger.open {
  box-shadow: inset 0 0 0 2px #0569bc;
  background: white;
}


/* Buttons */

.btn.-primary {
  /*color: #ed1b2f;*/
  background-color: #294581;
}

.btn.-primary:hover,
.btn.-primary.active {
  background-color: #3b518f;
}

.btn.-primary:active {
  background-color: #162e62;
}

.btn.-contrast {
  /*color: #294581;*/
  background-color: #ed1b2f;
}

.btn.-contrast:hover,
.btn.-contrast.active {
  background-color: #fb4b54;
}

.btn.-contrast:active {
  background-color: #bf0018;
}

.btn.-alt {
  background-color: #0569bc;
}

.btn.-alt:hover,
.btn.-alt.active {
  background-color: #357ad2;
}

.btn.-alt:active {
  background-color: #840020;
}

.btn.-border-primary {
  color: #3b518f;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #3b518f;
}

.btn.-border-primary:hover,
.btn.-border-primary.active,
.btn.-border-primary:active {
  color: white;
  background-color: #3b518f;
}

.btn.-border-contrast {
  color: #ed1b2f;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #ed1b2f;
}

.btn.-border-contrast:hover,
.btn.-border-contrast.active,
.btn.-border-contrast:active {
  color: white;
  background-color: #ed1b2f;
}

.btn.-border-alt {
  color: #0569bc;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #0569bc;
}

.btn.-border-alt:hover,
.btn.-border-alt.active,
.btn.-border-alt:active {
  color: white;
  background-color: #0569bc;
}

.btn.-circle {
  line-height: 2rem;
  width: 2rem;
  padding: 0;
  border-radius: 50%;
}

.btn.-circle .icon {
  position: relative;
  top: -1px;
}

.btn.-icon {
  line-height: 2rem;
  width: 2rem;
  height: 2rem;
  padding: 0;
  background-color: transparent;
}

.btn.-icon:hover {
  background-color: transparent;
}

.btn.-primary.-arrow .fa {
  color: #0569bc;
}

.btn.-block.-arrow {
  text-align: left;
}

.btn.-block.-arrow .fa.fa-angle-right {
  line-height: inherit;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
}


/* BTN LINK - addes 06/06/2016 */

.btn.-link-brand {
  color: inherit;
  box-shadow: inset 0 0 0 0 transparent;
}

.btn.-link-brand:hover {
  box-shadow: inset 0 -2px 0 0 #294581;
}

.btn.-link-brand:active,
.btn.-link-brand.active {
  color: white;
  background-color: #294581;
}

.btn.-link-contrast {
  color: inherit;
  box-shadow: inset 0 0 0 0 transparent;
}

.btn.-link-contrast:hover {
  box-shadow: inset 0 -2px 0 0 #ed1b2f;
}

.btn.-link-contrast:active,
.btn.-link-contrast.active {
  color: white;
  background-color: #ed1b2f;
}

.btn.-link-alt {
  color: inherit;
  box-shadow: inset 0 0 0 0 transparent;
}

.btn.-link-alt:hover {
  box-shadow: inset 0 -2px 0 0 #0569bc;
}

.btn.-link-alt:active,
.btn.-link-alt.active {
  color: white;
  background-color: #0569bc;
}

.slick-slider:hover .slick-arrow:hover {
  color: white !important;
  background-color: #3b518f !important;
}

.btn.-white {
  color: #294581;
}

.btn.-white .fa {
  color: #0569bc;
}


/* List Items
========================================================================== */

.list.-primary>li>a:hover,
.list.-primary>li>a.active {
  color: white;
  background-color: #294581;
}

.list.-contrast>li>a:hover,
.list.-contrast>li>a.active {
  color: white;
  background-color: #ed1b2f;
}

.list.-alt>li>a:hover,
.list.-alt>li>a.active {
  color: white;
  background-color: #0569bc;
}

.list.-light>li>a:hover,
.list.-light>li>a.active {
  background-color: #f4f4f4;
  /*color: white;*/
}


/*#html .dropdown {
background-color: white;
box-shadow: none;
padding: 1rem 0;
}*/

@media only screen and (min-width: 768px) {
  #html .dropdown {
    color: white;
    background-color: #ed1b2f;
    border-radius: 1rem;
    top: 0;
    padding-top: 3rem;
    z-index: 10;
    overflow: hidden;
    box-shadow: 0 0 0 1px #ed1b2f;
  }
  #html .dropdown a {
    color: #294581 !important;
    font-size: 85%;
  }
  #html .dropdown a.active,
  #html .dropdown a:hover {
    background-color: white;
    border-radius: 0 !important;
    -webkit-transition: all .14s cubic-bezier(.0, .0, .58, 1.0);
    transition: all .14s cubic-bezier(.0, .0, .58, 1.0);
  }
  .list-dropdown.hover>a,
  .list-dropdown:hover>a {
    z-index: 20;
    position: relative;
  }
  .list-dropdown.hover .dropdown,
  .list-dropdown:hover .dropdown {
    z-index: 10;
  }
}

.list.-tab>li {
  line-height: 2.5rem;
}

.list.-tab>li>a {
  /*color: #294581;*/
  background-color: #e8e8e8;
}

.list.-tab>li>a:hover,
.list.-tab>li>a.active {
  color: white;
  background-color: #294581;
}


/* Fonts - Edição especial para tema
========================================================================== */

.btn {
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}


/* Page Title
========================================================================== */

.heading {
  margin-bottom: 1rem;
}

.page-title {
  font-weight: normal;
  margin-bottom: 1rem;
  color: #294581;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: -0.14rem;
}

.page-title.-constrast {
  color: #ed1b2f;
}

.page-title.-alt {
  color: #0569bc;
}

.page-title.-white {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .page-title {
    font-size: 2rem;
    /*line-height: 3rem;*/
    margin-bottom: 2rem;
  }
  .heading {
    margin-bottom: 2rem;
  }
  .page-title.-large {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 3rem;
  }
  .page-title.-xlarge {
    font-size: 4rem;
    line-height: 1;
    margin-bottom: 3rem;
  }
  .page-title.-line {
    line-height: 3rem;
    position: relative;
    z-index: auto;
    margin-top: 0;
    margin-bottom: 4rem;
    color: #294581;
  }
  .page-title.-line::before {
    position: absolute;
    z-index: 0;
    top: 100%;
    right: 0;
    left: 50%;
    width: 70%;
    height: 2px;
    margin-top: 1rem;
    content: '';
    background: #294581;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .page-title.-line>span {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding-right: 2rem;
    background-color: white;
  }
  .page-title.-line.-center>span {
    padding-left: 2rem;
  }
  .page-title.-line.-center {
    text-align: center;
  }
  .page-title.-line.-center::before {
    background: #294581;
  }
}


/* Página: Paragrafo
========================================================================== */

@media only screen and (min-width: 1024px) {
  .caption {
    font-size: 1.2rem;
    line-height: 1.9;
    margin: 1.5rem 0;
  }
  .caption:first-child {
    margin-top: 0;
  }
  .caption:last-child {
    margin-bottom: 0;
  }
}
